# Ignore WordPress Core
wp-admin/
wp-includes/
index.php
license.txt
readme.html
wp-*.php
!wp-content/
xmlrpc.php

# Ignore Server/Local Config
.htaccess
wp-config.php
local-xdebuginfo.php
wp-config-sample.php

# Ignore Heavy/Temporary Content
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
node_modules/
*.log

# Ignore the plugin itself
wp-content/plugins/create-block-theme/
wp-content/plugins/kadence-woocommerce-email-designer/